/* FONTS */
@font-face{
  font-family: Montserrat;
  src: url(./fonts/SourceSansPro/SourceSansPro-Regular.ttf)
}


/* HEADER */
*{
  margin:0;
}

.menu{
  background-color: #FF6205;
  width: 100vw;
  max-height: 83px;
}

.menu nav{
  height: auto;
  width: 100vw;
  display: grid;
  grid-template-columns: 120px auto 0px;
}

.logo{
  margin-left: 60px;
}


nav ul{
  display: grid;
  grid-template-columns: repeat(4, auto);
  width: auto;
  height: 83px;
}

nav ul li{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-family: Montserrat;
  font-weight: bold;
  height: fit-content;
  margin: 2rem;
}

nav ul li a{
  text-decoration: none;
  color: white;
}

.Profile{
  border: none;
  outline: none;
  margin: -1rem;
  cursor: pointer;
}

