/* FONTS */
@font-face{
  font-family: "SourceSansPro-Regular";
  src: url(./fonts/SourceSansPro/SourceSansPro-Regular.ttf)
}

@font-face{
  font-family:"SourceSansPro-Bold";
  src: local('SourceSansPro-Bold'),url(./fonts/SourceSansPro/SourceSansPro-Bold.ttf);
}
/* HEADER */
*{
  margin:0;
}

.menu{
  background-color: #fa6400;
  

}

nav{
  height: 10vh;
}


nav ul{
  display: flex;
  justify-content: center;
  align-content: center;
}

nav ul li{
  list-style-type: none;
  margin: 2rem;
  font-family: SourceSansPro-Bold;
}

nav ul li a{
  text-decoration: none;
  color: white;
}


/* HOME PAGE*/

.section1{
  background: url(./img/kyh-hero.jpg);
 background-size: cover;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.videoContainer{
margin-left: 4rem;
color: white;
}

.videoContainer h1{
  display: flex;
  justify-content: center;
}

.videoPlaceholder{
  background-color: black;
  min-width: 35vw;
  min-height: 35vh;
}

.videoPlaceholder h1{
  display: flex;
  justify-content: center;
  align-content: center;
}

.textContainer{
  width: 40vw;
  margin-right: 4rem;
  color: white;
}


/* INFORMATION PAGE*/

.info{
  background-image: url(./img/kyh-hero.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

/* RULE PAGE */

.rules{
  background-image: url(./img/kyh-hero.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

/* FORUM */

.forum{
  background-image: url(./img/kyh-hero.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

/* FAQ */

.faq{
  background-image: url(./img/kyh-hero.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

/* CONTACT US */

.contact{
  background-image: url(./img/kyh-hero.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

/* COURSES */

.container{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: lightgrey;
}

.card{
  display:flex;
  justify-content: center;
  align-items: center;
 width: 50vw;
 height: 60vh;
 background-color: whitesmoke;
 border-radius: 20px;
  box-shadow: 0px 6px 30px 8px #3333;
}

.textbox{
  background-color: white;
  width: 30vw;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
 align-items: center;
 justify-content: center;
 border-radius: 10px 0 0 10px;
}



.engineering{
  width: 50%;
  height: 60vh;
  border-radius: 0 10px 10px 0;
}

.textbox h1{
  font-family: sourcesanspro-bold;
  font-size: 32px;
}

.textbox p{
  margin: 3rem;
  margin-top: -15rem;
  font-family: sourcesanspro-regular;
  font-size: 22px;
}

.it{
    width: 50%;
    height: 60vh;
    border-radius: 10px 0 0 10px;
}

.ekonomi{
  width: 50%;
  height: 60vh;
  border-radius: 0 10px 10px 0;
}

.textboxIT{
  background-color: white;
  width: 30vw;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
 align-items: center;
 justify-content: center;
 border-radius: 0 10px 10px 0;
}

.textboxIT h1{
  font-family: sourcesanspro-bold;
  font-size: 32px;
}

.textboxIT p{
  margin: 3rem;
  margin-top: -15rem;
  font-family: sourcesanspro-regular;
  font-size: 22px;
}


