/* 
  .menu{
  background-color: #fa6400;
  width: 100%;
  }

nav{
  height: 10vh;
}

nav ul{
  display: flex;
  justify-content: center;
  align-content: center;
  width:100%;
}
.logout{
  width: 8%;
  height:5%;
  background-color: blue;
  
}

nav ul li{
  list-style-type: none;
  margin: 2rem;
  font-family: SourceSansPro-Bold;
}

nav ul li a{
  text-decoration: none;
  color: white;
}
 */